<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.cpiz.android.playground"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>

    <application
        android:name=".PlaygroundApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".EventBusTest.EventBusTestActivity"/>
        <activity android:name=".RxBusTest.RxBusTestActivity"/>
        <activity android:name=".LoganSquareTest.LoganSquareTestActivity"/>
        <activity android:name=".JsonMessageTest.JsonMessageTestActivity"/>
        <activity android:name=".RetrofitTest.RetrofitTestActivity"/>
        <activity android:name=".OkHttpSpeedLimit.OkHttpTestActivity"/>
        <activity android:name=".TakePicture.CameraTestActivity"/>
        <activity
            android:name=".TakePicture.CameraActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="nosensor">
        </activity>
        <activity android:name=".NtpTest.NtpTestActivity"/>
        <activity android:name=".MessTest.MessTestActivity"/>
        <activity android:name=".SmartDnsTest.SmartDnsTestActivity"/>
        <activity android:name=".AnnotationsTest.AnnotationsActivity"/>
        <activity android:name=".ButterKnifeTest.ButterKnifeTestActivity"/>
        <activity android:name=".InputOnlyEditTextTest.InputOnlyEditTextActivity"/>
    </application>

</manifest>
